* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: #696969;
}

.quadrado {
    display: flex;
    background-color: #ff1;
    position: absolute;
}

#q1 {
    background-color: #f00;
    top: 60px;
    left: 100px;
    width: 150px;
    height: 150px;
}

#q2 {
    background-color: #00f;
    top: 150px;
    left: 300px;
    width: 100px;
    height: 100px;
}