* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
    background-color: #eee;
    border: 3px solid #bbb;
    width: 245px;
    border-radius: 5px;
}

/* TITLE */
.div_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.title {
    font-size: 2rem;
    font-weight: 100;
}

.div_teclas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 5px;
}

.tecla {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border: 3px solid #353535;
    font-size: 1.2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    margin: 3px;
}

.teclaOp {
    background-color: #f44 !important;
    border-color: rgb(75, 0, 0) !important;
}

/* DISPLAY */

.div_display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.display {
    width: 220px;
    background-color: #8a8;
    text-align: right;
    padding: 5px;
    font-family: monospace;
    font-size: 1.5rem;
    border-radius: 5px;
}